<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">Supports</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">Home</a></li>
      <li><a href="<%= new_ticket_url %>">Add a Ticket</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
        <li><a href="<%= logout_url %>"><span class="glyphicon glyphicon-log-out"></span> Sign Out</a></li>
      <% else %>
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="<%= new_session_url %>"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <% end %>

    </ul>
  </div>
</nav>
